<!doctype html>
<html lang="en" class="bg-stone-50 font-sans text-sm text-stone-700">
  <head>
    <%= partial "partials/head_meta_tags" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "code_highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="flex flex-row h-full p-3 sm:p-8 sm:mt-8 mb-12">
    <div class="w-full">
      <div class="max-w-3xl mx-auto">
        <%= partial "partials/mobile_menu" %>
        <%= yield %>
      </div>
    </div>
    <div class="">
      <%= partial "partials/menu" %>
    </div>
  </body>
</html>
