<!doctype html>
<html>
  <head>
    <% if app.build? %>
      <%# only include tag in production %>
      <%= partial 'partials/tracking_snippet' %>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> · Harrison Broadbent</title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "quote_block" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_include_tag "site" %>
    <%= auto_display_meta_tags %>
  </head>
  <body>
    <%= partial 'partials/left'%>
    <div style="display: flex; flex-direction: column;">
      <%= partial 'partials/mobile-menu' %>
      <div id="content-container">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= partial 'partials/menu'%>
  </body>
</html>
