<!doctype html>
<html class="bg-stone-50 font-sans text-sm text-stone-700">
  <head>
    <% if app.build? %>
      <%# only include tag in production %>
      <%= partial 'partials/tracking_snippet' %>
    <% end %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> · Harrison Broadbent</title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "quote_block" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= javascript_include_tag "site" %>
    <%= auto_display_meta_tags %>
  </head>
  <body class="flex h-full m-4 sm:m-0">
    <%= partial 'partials/left'%>
    <div style="display: flex; flex-direction: column;">
      <%= partial 'partials/mobile-menu' %>
      <div id="content-container">
        <div id="content">
          <div id="content-heading">
            <h1><%= current_page.data.title %></h1>
            <span class="text-xs text-stone-500"><%= current_page.data.date %></span>
          </div>
          <%= yield %>
          <div id="contact-table" class="pt-16">
            <%= partial 'partials/contact-table' %>
          </div>
        </div>
      </div>
    </div>
    <%= partial 'partials/menu' %>
  </body>
</html>
